<p-card
  [header]="product.name"
  [subheader]="'' + product.categoryId"
  styleClass="m-2 flex flex-column"
  [style]="{ width: '25rem' }"
  [routerLink]="['/products', product.id]"
>
  <ng-template pTemplate="header">
    <div class="flex align-items-center justify-content-center">
      <app-product-image [imageUrl]="product.imageUrl" [heightPx]="200"></app-product-image>
    </div>
  </ng-template>
  <div class="flex flex-column align-items-center justify-content-center">
    {{ product.price | currency }}
  </div>
  <ng-template pTemplate="footer">
    <div
      class="flex flex-column align-items-center justify-content-center"
      (click)="$event.stopPropagation()"
    >
      <app-add-to-cart [productId]="product.id"></app-add-to-cart>
    </div>
  </ng-template>
</p-card>
