<ng-template #addToCart>
  <form *appIsAuthenticated #form="ngForm" (ngSubmit)="onAddToCart()" class="flex flex-column">
    <input
      pInputText
      type="number"
      id="quantity"
      name="quantity"
      [(ngModel)]="quantity"
      class="p-inputtext-sm mb-2 w-4rem"
      [disabled]="inProgress"
      [min]="1"
    />
    <button pButton type="submit" [label]="buttonLabel()" [disabled]="inProgress"></button>
  </form>
</ng-template>
<ng-container *ngIf="inTheCart$ | async as item; else addToCart">
  <div class="flex flex-column">
    <p-message
      *ngIf="item; else addToCart"
      severity="info"
      [text]="messageText(item)"
      class="mb-2"
    ></p-message>
    <p-button label="View cart" [routerLink]="['/cart']" styleClass="p-button-warning"></p-button>
  </div>
</ng-container>
