<ng-template #addToCart>
  <form *appIsAuthenticated #form="ngForm" (ngSubmit)="onAddToCart()" class="flex flex-column">
    <p-dropdown
      inputId="quantity"
      name="quantity"
      [options]="quantities"
      [(ngModel)]="quantity"
      placeholder="Select quantity"
      [filter]="false"
      [virtualScroll]="true"
      [itemSize]="31"
      [disabled]="inProgress"
      class="mb-2"
    >
      <ng-template pTemplate="selectedItem">
        <div *ngIf="quantity">
          <div>Quantity: {{ quantity }}</div>
        </div>
      </ng-template>
    </p-dropdown>
    <button
      pButton
      type="submit"
      [icon]="buttonIcon()"
      [label]="buttonLabel()"
      [disabled]="inProgress"
    ></button>
  </form>
</ng-template>
<ng-container *ngIf="inTheCart$ | async as item; else addToCart">
  <div class="flex flex-column align-items-center">
    <p-message
      *ngIf="item; else addToCart"
      severity="success"
      [text]="messageText(item)"
      class="mb-2"
    ></p-message>
    <p-button label="Go to cart" [routerLink]="['/cart']" styleClass="p-button-warning"></p-button>
  </div>
</ng-container>
