<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img src="assets/logo-name.svg" height="40" class="mr-2" alt="logo" />
  </ng-template>
  <ng-template pTemplate="end">
    <input pInputText type="text" placeholder="Search" class="mr-2" />
    <p-avatar
      icon="pi pi-user"
      styleClass="mr-2"
      shape="circle"
      [style]="{ 'background-color': 'var(--purple-500)', 'color': '#ffffff' }"
    ></p-avatar>
    <button pButton label="Sign up" icon="pi pi-power-off" class="mr-2 p-button-success"></button>
    <button pButton label="Sign in" icon="pi pi-power-off" class="mr-2"></button>
    <button pButton label="Logout" icon="pi pi-power-off" class="mr-2"></button>
    <button pButton label="Cart" icon="pi pi-shopping-cart"></button>
  </ng-template>
</p-menubar>
