<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <a [routerLink]="['/']">
      <img src="assets/logo-name.svg" height="40" class="mr-2" alt="logo" />
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <ng-template #anonymous>
      <p-button
        label="Sign up"
        icon="pi pi-user-plus"
        styleClass="mr-2 p-button-success"
        [routerLink]="['/register']"
      ></p-button>
      <p-button
        label="Sign in"
        icon="pi pi-sign-in"
        styleClass="mr-2"
        [routerLink]="['/login']"
      ></p-button>
    </ng-template>
    <app-current-user *ngIf="isLoggedIn(); else anonymous"></app-current-user>
  </ng-template>
</p-menubar>
