<p-card styleClass="m-2 flex flex-column" [style]="{ width: '25rem' }">
  <ng-template pTemplate="header">
    <div
      class="flex align-items-center justify-content-center"
      [routerLink]="['/products', product.id]"
      [style]="{ cursor: 'pointer' }"
    >
      <app-product-image
        [imageUrl]="product.imageUrl"
        [heightPx]="200"
        [clickable]="true"
      ></app-product-image>
    </div>
  </ng-template>
  <ng-template pTemplate="title">
    <div
      class="flex align-items-center justify-content-center"
      [routerLink]="['/products', product.id]"
      [style]="{ cursor: 'pointer' }"
    >
      {{ product.name }}
    </div>
  </ng-template>
  <ng-template pTemplate="subtitle">
    <div class="flex align-items-center justify-content-center">
      {{ product.categoryId | categoryInfo: 'name' }}
    </div>
  </ng-template>
  <div class="flex flex-column align-items-center justify-content-center">
    {{ product.price | currency }}
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-column align-items-center justify-content-center">
      <app-add-to-cart [productId]="product.id"></app-add-to-cart>
    </div>
  </ng-template>
</p-card>
