<ng-template #showCart>
  <ng-template #emptyCart>
    <p-card header="Your current cart" [style]="{ width: '38rem' }">
      <app-empty-cart></app-empty-cart>
    </p-card>
  </ng-template>
  <ng-container *ngIf="activeOrder$ | async as order; else emptyCart">
    <p-card
      *ngIf="order.items && order.items.length > 0; else emptyCart"
      header="Your current cart"
    >
      <div class="grid">
        <div class="col-12 sm:col-6 flex flex-column">
          <app-total-price></app-total-price>
          <div class="mt-2 mb-4">
            <app-order-item
              *ngFor="let item of order.items; trackBy: identifyOrderItem"
              [item]="item"
            ></app-order-item>
          </div>
          <app-total-price></app-total-price>
        </div>
        <div class="col-12 sm:col-6">
          <app-submit-cart-form (orderCompleted)="onOrderCompleted($event)"></app-submit-cart-form>
        </div>
      </div>
    </p-card>
  </ng-container>
</ng-template>

<ng-container *ngIf="completedOrder; else showCart">
  <p-card [style]="{ width: '38rem' }">
    <app-order-completed></app-order-completed>
  </p-card>
</ng-container>
