<p-card header="Categories" subheader="Settings">
  <p-table
    #table
    [value]="(categories$ | async) ?? []"
    [(selection)]="selectedItems"
    dataKey="id"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50, 100]"
    [loading]="loading"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0"
    [globalFilterFields]="['name']"
    styleClass="p-datatable-sm"
  >
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between">
        List of Categories
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="globalFilter($event)" placeholder="Search" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="w-3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="id">
          <div class="flex justify-content-between align-items-center">
            ID
            <p-sortIcon field="id"></p-sortIcon>
            <p-columnFilter type="text" field="id" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="name">
          <div class="flex justify-content-between align-items-center">
            Name
            <p-sortIcon field="name"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="name"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>
        <th style="text-align: left">
          <button
            *appIsAdmin
            pButton
            type="button"
            icon="pi pi-plus"
            class="p-button-primary p-button-outlined p-button-rounded p-button-sm mr-2"
            pTooltip="New"
            tooltipPosition="top"
            (click)="onNew()"
          ></button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
      <tr class="p-selectable-row">
        <td><p-tableCheckbox [value]="category"></p-tableCheckbox></td>
        <td>
          <span class="p-column-title">ID</span>
          {{ category.id }}
        </td>
        <td>
          <span class="p-column-title">Name</span>
          {{ category.name }}
        </td>
        <td style="text-align: left">
          <ng-container *appIsAdmin>
            <button
              pButton
              type="button"
              icon="pi pi-pencil"
              class="p-button-secondary p-button-outlined p-button-rounded p-button-sm mr-2"
              pTooltip="Edit"
              tooltipPosition="left"
              (click)="onEdit(category)"
            ></button>
            <button
              pButton
              type="button"
              icon="pi pi-trash"
              class="p-button-danger p-button-outlined p-button-rounded p-button-sm"
              pTooltip="Delete"
              (click)="deleteItem($event, category.id)"
            ></button>
          </ng-container>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">No categories found.</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<p-dialog
  header="New category"
  [(visible)]="showNew"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="onNewClose()"
>
  <form #formNew="ngForm" (ngSubmit)="create()">
    <div class="field grid">
      <label for="name" class="col-12 mb-2 md:col-2 md:mb-0">
        Name
        <small class="p-error">*</small>
      </label>
      <div class="col-12 md:col-10">
        <input
          pInputText
          type="text"
          name="name"
          id="name"
          [(ngModel)]="newItem.name"
          #newName="ngModel"
          maxlength="100"
          class="w-full p-inputtext-sm"
          required
        />
      </div>
      <ng-container *ngIf="newName.invalid && (newSubmitted || newName.dirty || newName.touched)">
        <small
          *ngIf="newName.errors?.['required']"
          class="p-error col-12 md:col-offset-2 md:col-10"
        >
          name is required
        </small>
        <small
          *ngIf="newName.errors?.['maxlength']"
          class="p-error col-12 md:col-offset-2 md:col-10"
        >
          name cannot exceed 100 characters
        </small>
      </ng-container>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <button
      pButton
      icon="pi pi-times"
      (click)="onNewClose()"
      label="Cancel"
      class="p-button-text"
    ></button>
    <button
      pButton
      type="submit"
      icon="pi pi-check"
      (click)="formNew.ngSubmit.emit()"
      label="Create"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  [header]="'Editing category ID: ' + editedItem.id"
  [(visible)]="showEdit"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="onEditClose()"
>
  <form #formEdit="ngForm" (ngSubmit)="update()">
    <div class="field grid">
      <label for="name" class="col-12 mb-2 md:col-2 md:mb-0">
        Name
        <small class="p-error">*</small>
      </label>
      <div class="col-12 md:col-10">
        <input
          pInputText
          type="text"
          name="name"
          id="name"
          [(ngModel)]="editedItem.name"
          #editedName="ngModel"
          maxlength="100"
          class="w-full p-inputtext-sm"
          required
        />
      </div>
      <ng-container
        *ngIf="editedName.invalid && (editSubmitted || editedName.dirty || editedName.touched)"
      >
        <small
          *ngIf="editedName.errors?.['required']"
          class="p-error col-12 md:col-offset-2 md:col-10"
        >
          name is required
        </small>
        <small
          *ngIf="editedName.errors?.['maxlength']"
          class="p-error col-12 md:col-offset-2 md:col-10"
        >
          name cannot exceed 100 characters
        </small>
      </ng-container>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button
      pButton
      icon="pi pi-times"
      (click)="onEditClose()"
      label="Cancel"
      class="p-button-text"
    ></button>
    <button
      pButton
      type="submit"
      icon="pi pi-check"
      (click)="formEdit.ngSubmit.emit()"
      label="Update"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmPopup #deleteDialog></p-confirmPopup>
