:host {
  width: 100%;
}

.image-placeholder {
  width: 100%;
  min-width: 10rem;
  background-color: var(--gray-200);
  margin: 1em;
  padding: 1em;

  &:hover {
    border: 1px solid #0c5b9c;
  }
}

.image-product {
  width: auto;
  margin: 1em;

  &:hover {
    border: 1px solid #0c5b9c;
  }
}
