<div class="flex" *ngIf="product">
  <div class="w-12rem mr-2">
    <app-product-image [imageUrl]="product.imageUrl" [heightPx]="100"></app-product-image>
  </div>
  <div class="w-30rem flex flex-column justify-content-center flex-wrap">
    <div class="font-bold mb-2">{{ product.name }}</div>
    <div class="flex align-items-center justify-content-end mb-2">
      <div class="mr-2">{{ product.price | currency }}</div>
      <div class="mr-2">x</div>
      <p-dropdown
        inputId="quantity"
        name="quantity"
        [options]="quantities"
        [ngModel]="quantity"
        (ngModelChange)="onQuantityChange($event)"
        placeholder="Select quantity"
        [filter]="false"
        [virtualScroll]="true"
        [itemSize]="31"
        [disabled]="inProgress"
        class="mr-2"
      >
        <ng-template pTemplate="selectedItem">
          <div *ngIf="quantity">
            <div>Quantity: {{ quantity }}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <button
        pButton
        icon="pi pi-trash"
        class="p-button-secondary p-button-text mr-2"
        [disabled]="inProgress"
        (click)="onRemove()"
      ></button>
    </div>
    <div class="flex align-items-center justify-content-end font-bold mr-6">
      <small>Subtotal: {{ total() | currency }}</small>
    </div>
  </div>
</div>
